---
---

@import "{{ site.theme }}";

.site-nav {
  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  @media screen and (min-width: 600px) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .trigger {
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      padding: 5px;
    }
  }
}